<h1>My Test Home Page!</h1>

<img src="image1.jpeg" width=200 heigth=120>
<img src="image2.jpeg" width=200 heigth=120>

<h2>Hello World!</h2>
<h3>Welcome!</h3>

<font color="gold">Owner of this Server is: {{ owner }}</font><br>

<img src="image3.jpeg" width=200 heigth=120>
<img src="image4.jpeg" width=200 heigth=120>

<h3>Server info</h3>
Server Hostname: {{ ansible_hostname }}<br>
Server OS Family: {{ ansible_os_family }}<br>
IP Address Server: {{ ansible_default_ipv4.address }}<br>
